<div class="dock dock-sm z-50">
  <div class="tooltip flex items-center justify-center w-auto h-auto p-2" data-tip="Visualizza prenotazioni">
    <a href="/logged/allBucchins">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
      </svg>
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <polyline points="3 14 9 14 9 17 15 17 15 14 21 14" fill="none" stroke="currentColor" stroke-miterlimit="10"
          stroke-width="2"></polyline>
        <rect x="3" y="3" width="18" height="18" rx="2" ry="2" fill="none" stroke="currentColor" stroke-linecap="square"
          stroke-miterlimit="10" stroke-width="2"></rect>
    </a></svg>
    </button>

  </div>

  <div class="tooltip flex items-center justify-center w-auto h-auto p-2" data-tip="Nuova prenotazione">
    <a href="/logged/manageBucchins">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      <g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt">
        <polyline points="1 11 12 2 23 11" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
        </polyline>
        <path d="m5,13v7c0,1.105.895,2,2,2h10c1.105,0,2-.895,2-2v-7" fill="none" stroke="currentColor"
          stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path>
        <line x1="12" y1="22" x2="12" y2="18" fill="none" stroke="currentColor" stroke-linecap="square"
          stroke-miterlimit="10" stroke-width="2"></line>
      </g></svg>
    </a>
  </div>

  <div class="tooltip flex items-center justify-center w-auto h-auto p-2">
    <div class="tooltip-content">
      <div class="animate-bounce text-orange-400 -rotate-10 text-2xl font-black">DAJE!</div>
    </div>

    <a class="avatar" href="/logged/myProfile">
      <div class="w-10 rounded-full">
        <%if(user.img=='' ){%>
          <img class="transition duration-500 group-hover:grayscale group-hover:blur-2xl z-0"
            src="/assets/imgs/defaultProfile.png" />
          <%}else{%>
            <img class="transition duration-500 group-hover:grayscale group-hover:blur-2xl z-0" src="/<%=user.img%>" />
            <%}%>
      </div>
    </a>
  </div>
  </body>

  </html>