<%- include('./partials/header'); %>
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Ci sei quasi!</h1>
        <p class="py-6">
          Clicca il link ricevuto alla mail indicata durante la registrazione e sarai pronto a sfruttare i tuoi amici (o a farti sfruttare)!
        </p>
        <a class="btn btn-primary" href="/">Torna alla home</a>
      </div>
    </div>
  </div>
</body>
</html>