<%- include('./partials/header'); %>
  <%- include('./partials/alerts'); %>
    <!-- Contenitore per centrare il fieldset -->
    <!-- Item center lo centra vert, justify center orizz-->
    <div class="flex items-center justify-center min-h-screen">

      <form method="POST" action="/recoverPassword">
        <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
          <legend class="fieldset-legend">Recupera la tua password</legend>
          <label class="fieldset-label" for="mail">Inserisci la tua email</label>
          <input type="email" class="input" placeholder="Email" id="mail" name="mail" />
          <input class="btn btn-neutral mt-4" type="submit" id="submit" name="submit" value="Recupera password" />
        </fieldset>
      </form>
    </div>
    </body>

    </html>

    <script>

    </script>