<%- include('./partials/headerLogged'); %>
    <div class="flex  items-center justify-center min-h-screen">

        <div class="basis-1/4 pl-10">

        <calendar-date first-day-of-week="1"
            class="cally bg-base-100 border border-base-300 shadow-lg rounded-box">
            <svg aria-label="Previous" class="size-4" slot="previous" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path fill="currentColor" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
            </svg>
            <svg aria-label="Next" class="size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
            </svg>
            <calendar-month></calendar-month>
        </calendar-date>
        <div class="pt-4">
        <a class="text-xs opacity-60 tracking-wide italic">Prenderò i posti</a>
        <input type="checkbox" checked="checked" class="toggle border-indigo-600 bg-indigo-500 checked:bg-orange-400 checked:text-orange-800 checked:border-orange-500 " />
    </div></div>


        <ul class="list basis-3/4 bg-base-100 rounded-box shadow-md">

            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">28/01/2025</li>


            <li class="list-row">
                <div>
                    <div>08:00 - 09:00</div>
                    <div class="avatar-group -space-x-3">
                        <div class="avatar">
                          <div class="w-8">
                            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="w-8">
                            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="w-8">
                            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                          </div>
                        </div>
                        <div class="avatar">
                          <div class="w-8">
                            <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                          </div>
                        </div>
                        <div class="text-xs uppercase font-semibold opacity-60 pl-7 pt-3">4 posti</div>
                      </div>
            </li>
            <li class="list-row">
                <div>
                    <div>09:00 - 10:00</div>
                    <div class="avatar-group -space-x-3">
                      <div class="avatar">
                        <div class="w-8">
                          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                      </div>
                      <div class="avatar">
                        <div class="w-8">
                          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                      </div>
                      <div class="avatar">
                        <div class="w-8">
                          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                      </div>
                      <div class="avatar">
                        <div class="w-8">
                          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                      </div>
                      <div class="text-xs uppercase font-semibold opacity-60 pl-7 pt-3">4 posti</div>
                    </div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>10:00 - 11:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>11:00 - 12:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>12:00 - 13:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>13:00 - 14:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>14:00 - 15:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>15:00 - 16:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
                
            </li>
            <li class="list-row">
                <div>
                    <div>16:00 - 17:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>17:00 - 18:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>
            <li class="list-row">
                <div>
                    <div>19:00 - 20:00</div>
                    <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
                </div>
            </li>

        </ul>
        

    </div>
    <%- include('./partials/footerLogged'); %>