<%- include('./partials/header'); %>
<div
  class="hero min-h-screen"
  style="background-image: url(/assets/imgs/monviso.jpg);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Ciao!</h1>
      <p class="mb-5">
        Questo sito permette di gestire le prenotazioni in aula studio e per capire chi verrà schiavizzato a breve </br>
        <i>(Si, quello è il Monviso)</i>
      </p>
      <a href="/register" class="btn btn-primary">Registrati ora</a>
    </div>
  </div>
</div>
<%- include('./partials/footer'); %>