<%- include('./partials/header'); %>
    <%- include('./partials/alerts'); %>
        <!-- Contenitore per centrare il fieldset -->
        <!-- Item center lo centra vert, justify center orizz-->
        <div class="flex items-center justify-center min-h-screen">

            <form method="POST" action="/resetUserPassword/<%=id%>">
                <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
                    <label class="fieldset-label" for="password">Password</label>
                    <input type="password" id="password" class="input validator" required placeholder="Password"
                        minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must be more than 8 characters, including number, lowercase letter, uppercase letter" />
                    <p class="validator-hint hidden" style="color: red;">
                        La password deve essere lunga almeno 8 caratteri, e deve contenere:
                        <br />Almeno un numero
                        <br />Almeno una lettera minuscola
                        <br />Almeno una lettera maiuscola
                    </p>
                    <label class="fieldset-label" for="confermaPassword">Conferma password</label>
                    <input type="password" class="input" placeholder="Password" id="confermaPassword"
                        name="confermaPassword" required />
                    <p id="validation" class="text-center text-orange-500 italic text-sm"></p>
                    <input type="submit" class="btn btn-neutral mt-4" id="submit" name="submit"
                        value="Cambia password" />
                </fieldset>
            </form>
        </div>
        </body>

        </html>

        <script>
            $("#confermaPassword, #password").on("keyup input", function () {
                var password = $("#password").val();
                var confirmPassword = $("#confermaPassword").val();

                if (confirmPassword !== "" && password !== confirmPassword) {
                    $("#validation").html("Le password non coincidono!").show();
                    $("#submit").prop('disabled', true);
                } else {
                    $("#validation").hide();
                    $("#submit").prop('disabled', false);
                }
            });
        </script>