@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: lemonade --default, dark --prefersdark;
}
body{
    font-family: "Montserrat", serif;
}



::selection {
    background: lightgray /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: lightgray; /* Gecko Browsers */
  }
